<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Иванова</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="popup-img popup">
        <span class="close-popup"></span>
        <div class="img">
            <img src="../img/img-for-img2.png" alt="">
        </div>
    </div>

    <div class="callback popup">
        <span class="close-popup"></span>
        <div class="popup-content">
            <span class="close"></span>
            <div class="title">
                <h2>Заказ</h2>
                <span>обратного звонка</span>
            </div>
            <p>Наш менеджер свяжется с Вами в ближайшее время</p>
            <form class="clearfix">
                <div class="clearfix">
                    <div class="input">
                        <label>Ваше имя</label>
                        <input type="text" placeholder="Константин">
                    </div>
                    <div class="input">
                        <label>Ваш телефон</label>
                        <input class="phone" type="text" pattern="+7 900 --- -- --">
                        <div class="checkbox">
                            <input type="checkbox">
                            <p>Принимаю условия <a target="_blank" href="javascript:viod(0)">обработки данных</a></p>
                        </div>
                    </div>
                </div>
                <button><span>отправить</span></button>
            </form>
        </div>
    </div>

    <div class="repair popup">
        <span class="close-popup"></span>
        <div class="popup-content">
            <span class="close"></span>
            <div class="title">
                <h2>Хороший ремонт</h2>
                <span>для нас не проблема</span>
            </div>
            <p>Готовы составить смету уже сегодня, а в ближайшее время приступить к работам.</p>
            <form class="clearfix">
                <div class="clearfix">
                    <div class="input">
                        <label>Ваше имя</label>
                        <input type="text" placeholder="Константин">
                    </div>
                    <div class="input">
                        <label>Ваш телефон</label>
                        <input class="phone" type="text" pattern="+7 900 --- -- --">
                        <div class="checkbox">
                            <input type="checkbox">
                            <p>Принимаю условия <a target="_blank" href="javascript:viod(0)">обработки данных</a></p>
                        </div>
                    </div>
                </div>
                <button><span>отправить</span></button>
            </form>
        </div>
    </div>

    <div class="thank popup">
        <span class="close-popup"></span>
        <div class="popup-content">
            <span class="close"></span>
            <div class="thank-content">
                <img src="../img/thank-img.png" alt="">
                <h2>ваша заявка успешно отправлена!</h2>
                <p>Мы перезвоним вам в течении 10 минут.</p>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="header-content clearfix">
                <a class="logo" href="javascript:void(0)">Ремонт квартир №1 в Иваново</a>
                <div class="header-contact">
                    <a class="tel" href="tel:+7 900 000 00 00"><i class="icon-icon-tel"></i>+7 900 000 00 00</a>
                    <a class="order" href="javascript:void(0)">Заказать звонок</a>
                </div>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="container">
            <div class="banner-content clearfix">
                <div class="title">
                    <h2>Качественный ремонт <span>и отделка квартир, домов от профессионалов</span></h2>
                </div>
                <div class="present">
                    <div class="img">
                        <img src="../img/present-img.png" alt="">
                    </div>
                    <p>При заказе <span>комплексного ремонта</span></p>
                    <h4>Вы получите подарки от компании. </h4>
                    <p>Звоните и уточняйте условия у менеджера!</p>
                </div>
                <a class="cost repair-click" href="javascript:void(0)"><span>Рассчитать стоимость</span></a>
            </div>
            <ul class="advantages">
                <li>
                    <p>Работаем</p>
                    <span>без предоплат</span>
                </li>
                <li>
                    <p>Расширенная</p>
                    <span>гарантия 18 месяцев</span>
                </li>
                <li>
                    <p>Опыт работы</p>
                    <span>более 10 лет</span>
                </li>
                <li>
                    <p>Прозрачные</p>
                    <span>сметы</span>
                </li>
            </ul>
        </div>
    </section>

    <section class="about">
        <div class="container clearfix">
            <div class="about-content">
                <img src="../img/about-img.png" alt="" class="about-img">
                <div class="title">
                    <h2>О компании</h2>
                </div>
                <ul>
                    <li>
                        <p><strong>«Ремонт квартир №1» предлагает услуги по ремонту и дизайну квартир, офисов, частных домов в г.
                        Иваново. </strong> Каждый специалист занимается любимым делом. А большой опыт и профессионализм нашего штата гарантирует высокое качество выполненных работ. </p>
                    </li>
                    <li>
                        <p><strong>«Ремонт квартир №1» – это уют и комфорт вашего дома, квартиры и офиса.</strong></p>
                    </li>
                    <li>
                        <p><span>Наши главные принципы в работе - прозрачные условия и высокий уровень комфорта для
                        заказчика.</span></p>
                    </li>
                    <li>
                        <p>Мы уверенны что сможем воплотить в интерьере любые Ваши идеи, создать стильную и уютную обстановку, и все это в разумные сроки и по доступным ценам.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="types-repair">
        <div class="container">
            <div class="types-repair-content">
                <div class="title">
                    <h2>Какие виды ремонта <span>мы делаем</span></h2>
                </div>
                <div class="types-repair-items clearfix">
                    <div class="types-repair-item">
                        <div class="img" style="background: url('../img/types-repair-item-img1.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <h4>Косметический ремонт </h4>
                        <p><strong>один из наиболее быстрых и недорогих видов ремонта. </strong> Замена изношенных частей отделки. Ремонт, который может визуально поменять и освежить облик квартиры, дома или офиса. </p>
                    </div>
                    <div class="types-repair-item">
                        <div class="img" style="background: url('../img/types-repair-item-img2.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <h4>Капитальный ремонт </h4>
                        <p><strong>полный комплекс услуг качественной отделки, </strong> с заменых старых материалов на новые. Выравнивания стен, потолка и пола. Замена систем коммуникаций. </p>
                    </div>
                    <div class="types-repair-item">
                        <div class="img" style="background: url('../img/types-repair-item-img3.png') no-repeat 50% 50%; background-size: cover;"></div>
                        <h4>Дизайнерский ремонт </h4>
                        <p><strong>это индивидуальный проект и прекрасная возможность улучшить домашний интерьер,</strong> сделать его более комфортным, уникальным и уютным. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="other-services">
        <div class="container">
            <div class="title">
                <h2>Другие наши услуги</h2>
            </div>
            <div class="other-services-content clearfix">
                <div class="other-services-item">
                    <span>01</span>
                    <img src="../img/other-services-item-img1.png" alt="">
                    <p>дизайн интерьера</p>
                </div>
                <div class="other-services-item">
                    <span>02</span>
                    <img src="../img/other-services-item-img2.png" alt="">
                    <p>монтаж натяжных потолков</p>
                </div>
                <div class="other-services-item">
                    <span>03</span>
                    <img src="../img/other-services-item-img3.png" alt="">
                    <p>продажа и установка входных и межкомнатных дверей</p>
                </div>
                <div class="other-services-item">
                    <span>04</span>
                    <img src="../img/other-services-item-img4.png" alt="">
                    <p>производство корпусной мебели</p>
                </div>
            </div>
        </div>
    </section>

    <section class="receive-consultation">
        <div class="container clearfix">
            <img src="../img/receive-consultation-img.png" alt="">
            <div class="receive-consultation-content">
                <div class="title">
                    <h2>Получите бесплатную <span>консультацию</span></h2>
                </div>
                <form class="clearfix">
                    <div class="clearfix">
                        <div class="input">
                            <label>Ваше имя</label>
                            <input type="text" placeholder="Константин">
                        </div>
                        <div class="input">
                            <label>Ваш телефон</label>
                            <input class="phone" type="text" pattern="+7 900 --- -- --">
                            <div class="checkbox">
                                <input type="checkbox">
                                <p>Принимаю условия <a target="_blank" href="javascript:viod(0)">обработки данных</a></p>
                            </div>
                        </div>
                    </div>
                    <button><span>отправить</span></button>
                </form>
            </div>
        </div>
    </section>

    <section class="calculator">
        <div class="container">
            <div class="title">
                <h2>Калькулятор стоимости</h2>
                <span>ответьте на вопросы и получите результат</span>
            </div>
            <div class="calculator-content">
                <!-- Следующий этап видно когда есть класс active а у придыдещего удаляем  -->
                <div class="calculator-step active">
                    <div class="counter">Шаг 1 <span> из 5</span></div>
                    <h3>Ремонт какого помещения вам нужен?</h3>
                    <div class="step-content">
                        <div class="step clearfix">
                            <a href="javascript:void(0)" class="del">удалить</a>
                            <div class="select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                    <option>Коридора</option>
                                    <option>Коридора</option>
                                    <option>Коридора</option>
                                    <option>Коридора</option>
                                    <option>Коридора</option>
                                </select>
                            </div>
                            <div class="step-item clearfix">
                                <label>Площадь м2</label>
                                <input type="number" placeholder="2,5">
                            </div>
                            <div class="step-item clearfix">
                                <label>Высота</label>
                                <input type="number" placeholder="3,0">
                            </div>
                        </div>
                        <div class="step clearfix">
                            <a href="javascript:void(0)" class="del">удалить</a>
                            <div class="select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                    <option>Комнаты</option>
                                    <option>Комнаты</option>
                                    <option>Комнаты</option>
                                    <option>Комнаты</option>
                                    <option>Комнаты</option>
                                </select>
                            </div>
                            <div class="step-item clearfix">
                                <label>Площадь м2</label>
                                <input type="number" placeholder="2,5">
                            </div>
                            <div class="step-item clearfix">
                                <label>Высота</label>
                                <input type="number" placeholder="3,0">
                            </div>
                        </div>
                        <div class="step clearfix">
                            <a href="javascript:void(0)" class="del">удалить</a>
                            <div class="select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                    <option>Кухни</option>
                                    <option>Кухни</option>
                                    <option>Кухни</option>
                                    <option>Кухни</option>
                                    <option>Кухни</option>
                                </select>
                            </div>
                            <div class="step-item clearfix">
                                <label>Площадь м2</label>
                                <input type="number" placeholder="2,5">
                            </div>
                            <div class="step-item clearfix">
                                <label>Высота</label>
                                <input type="number" placeholder="3,0">
                            </div>
                        </div>
                        <div class="step clearfix">
                            <a href="javascript:void(0)" class="del">удалить</a>
                            <div class="select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                    <option>Санузла</option>
                                    <option>Санузла</option>
                                    <option>Санузла</option>
                                    <option>Санузла</option>
                                    <option>Санузла</option>
                                </select>
                            </div>
                            <div class="step-item clearfix">
                                <label>Площадь м2</label>
                                <input type="number" placeholder="2,5">
                            </div>
                            <div class="step-item clearfix">
                                <label>Высота</label>
                                <input type="number" placeholder="3,0">
                            </div>
                        </div>
                        <div class="add-room">
                            <span></span>
                            <p>добавить помещение</p>
                        </div>
                    </div>
                    <a class="next-step" href="jabascript:void(0)">К следующиму шагу</a>
                </div>
                <div class="calculator-step">
                    <div class="counter">Шаг 2 <span> из 5</span></div>
                    <h3>Выберите работы с полами</h3>
                    <div class="step-content step2 clearfix">
                        <ul>
                            <li>Устройство стяжки</li>
                            <li>Укладка линолеума</li>
                            <li>Укладка ламината</li>
                            <li>Укладка плитки</li>
                        </ul>
                        <div class="checkbox-item">
                            <h4>Комната</h4>
                            <div class="checkbox">
                                <label>Устройство стяжки</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Укладка линолеума</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка ламината</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка плитки</label>
                                <input type="checkbox">
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <h4>коридор</h4>
                            <div class="checkbox">
                                <label>Устройство стяжки</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка линолеума</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка ламината</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка плитки</label>
                                <input type="checkbox">
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <h4>кухня</h4>
                            <div class="checkbox">
                                <label>Устройство стяжки</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка линолеума</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка ламината</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Укладка плитки</label>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <ul class="step-link">
                        <li><a class="next-step" href="jabascript:void(0)">К следующиму шагу</a></li>
                        <li><a class="prev-step" href="jabascript:void(0)">назад</a></li>
                    </ul>
                </div>
                <div class="calculator-step">
                    <div class="counter">Шаг 3 <span> из 5</span></div>
                    <h3>Выберите работы со стенами</h3>
                    <div class="step-content step3 clearfix">
                        <ul>
                            <li>Штукатурка стен </li>
                            <li>Шпатлевание стен</li>
                            <li>Оклейка обоями</li>
                            <li>Окраска стен</li>
                        </ul>
                        <div class="checkbox-item">
                            <h4>Комната</h4>
                            <div class="checkbox">
                                <label>Штукатурка стен</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Шпатлевание стен</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Оклейка обоями</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Окраска стен</label>
                                <input type="checkbox">
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <h4>коридор</h4>
                            <div class="checkbox">
                                <label>Штукатурка стен</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Шпатлевание стен</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Оклейка обоями</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Окраска стен</label>
                                <input type="checkbox">
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <h4>кухня</h4>
                            <div class="checkbox">
                                <label>Штукатурка стен</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Шпатлевание стен</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Оклейка обоями</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Окраска стен</label>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <ul class="step-link">
                        <li><a class="next-step" href="jabascript:void(0)">К следующиму шагу</a></li>
                        <li><a class="prev-step" href="jabascript:void(0)">назад</a></li>
                    </ul>
                </div>
                <div class="calculator-step">
                    <div class="counter">Шаг 4 <span> из 5</span></div>
                    <h3>Выберите работы с потолками</h3>
                    <div class="step-content step4 clearfix">
                        <ul>
                            <li>Устройство натяжного потолка</li>
                            <li>Устройство потолка из ГКЛ в 1 уровеня</li>
                            <li>Устройство потолка из ГКЛ в 2 уровеня</li>
                        </ul>
                        <div class="checkbox-item">
                            <h4>Комната</h4>
                            <div class="checkbox">
                                <label>Устройство натяжного потолка</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Устройство потолка из ГКЛ в 1 уровеня</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Устройство потолка из ГКЛ в 2 уровеня</label>
                                <input type="checkbox">
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <h4>коридор</h4>
                            <div class="checkbox">
                                <label>Устройство натяжного потолка</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Устройство потолка из ГКЛ в 1 уровеня</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Устройство потолка из ГКЛ в 2 уровеня</label>
                                <input type="checkbox">
                            </div>
                        </div>
                        <div class="checkbox-item">
                            <h4>кухня</h4>
                            <div class="checkbox">
                                <label>Устройство натяжного потолка</label>
                                <input type="checkbox" checked>
                            </div>
                            <div class="checkbox">
                                <label>Устройство потолка из ГКЛ в 1 уровеня</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Устройство потолка из ГКЛ в 2 уровеня</label>
                                <input type="checkbox">
                            </div>
                        </div>
                    </div>
                    <ul class="step-link">
                        <li><a class="next-step" href="jabascript:void(0)">К следующиму шагу</a></li>
                        <li><a class="prev-step" href="jabascript:void(0)">назад</a></li>
                    </ul>
                </div>
                <div class="calculator-step">
                    <div class="counter">Шаг 5 <span> из 5</span></div>
                    <h3>другие работы</h3>
                    <div class="step-content step4 clearfix">
                        <div class="other-jobs">
                            <div class="checkbox">
                                <label>Сантехнические работы</label>
                                <input type="checkbox">
                            </div>
                            <div class="checkbox">
                                <label>Электромонтажные работы</label>
                                <input type="checkbox">
                            </div>
                            <div class="number">
                                <label>Установка дверей</label>
                                <input type="number" placeholder="3">
                            </div>
                        </div>
                    </div>
                    <ul class="step-link">
                        <li><a class="next-step" href="jabascript:void(0)">К следующиму шагу</a></li>
                        <li><a class="prev-step" href="jabascript:void(0)">назад</a></li>
                    </ul>
                </div>
                <div class="calculator-step">
                    <h4>примерная СТОИМОСТЬ ВАШЕГО РЕМОНТА</h4>
                    <div class="sum">65 575.6 Р</div>
                    <div class="step-content step6 clearfix">
                        <form action="">
                            <p>Получить подробную смету и узнать количество требуемого материала</p>
                            <div class="clearfix">
                                <div class="input">
                                    <label>Ваше имя</label>
                                    <input type="text" placeholder="Константин">
                                </div>
                                <div class="input">
                                    <label>Ваш телефон</label>
                                    <input class="phone" type="text" pattern="+7 900 --- -- --">
                                    <div class="checkbox">
                                        <input type="checkbox">
                                        <p>Принимаю условия <a target="_blank" href="javascript:viod(0)">обработки данных</a></p>
                                    </div>
                                </div>
                                <div class="input">
                                    <label>Ваша почта</label>
                                    <input type="text" placeholder="">
                                </div>
                            </div>
                            <button><span>получить смету</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advantages-work">
        <div class="container">
            <div class="title">
                <h2>Преимущества <span>работы с нами</span></h2>
            </div>
            <div class="advantages-slider">
                <div>
                    <div class="advantages-item">
                        <span>01</span>
                        <div class="icon"><i class="icon-icon-1"></i></div>
                        <h3>Бонусы при комплексном ремонте</h3>
                        <p>Мы подготовили для вас ряд <strong> подарков и скидок на дизайн-проект, </strong> натяжные потолки, межкомнатные двери, корпусную мебель, клининг после ремонта. Подарки и скидки зависят от типа и объема ремонтных работ.</p>
                    </div>
                </div>
                <div>
                    <div class="advantages-item">
                        <span>02</span>
                        <div class="icon"><i class="icon-icon-2"></i></div>
                        <h3>Поточный метод работы</h3>
                        <p><strong>Работают только специалисты узкого профиля. </strong> После выполнения своей части работы, сразу приступают следующие. Никаких простоев и пауз. Это экономит время и деньги.</p>
                    </div>
                </div>
                <div>
                    <div class="advantages-item">
                        <span>03</span>
                        <div class="icon"><i class="icon-icon-3"></i></div>
                        <h3>Технологическая оснащенность</h3>
                        <p><strong>Используем в работе последние технические новинки. </strong> Штукатурные установки, прошкурочные станции, лазерные осепостроители и другие современные инструменты позволяют нам оптимизировать затраты на материалы и выполнять
                            работу быстрее и качественнее.</p>
                    </div>
                </div>
                <div>
                    <div class="advantages-item">
                        <span>04</span>
                        <div class="icon"><i class="icon-icon-4"></i></div>
                        <h3>Составляем договор и смету</h3>
                        <p>Перед началом сотрудничества составляем смету на работы и заключаем договор, который гарантирует выполнения всех обязательств <strong> точно в срок по условленной цене.</strong></p>
                    </div>
                </div>
                <div>
                    <div class="advantages-item">
                        <span>05</span>
                        <div class="icon"><i class="icon-icon-5"></i></div>
                        <h3>Помощь в подборе и скидки на материалы</h3>
                        <p>Мы всегда идем на встречу клиентам. Не только сделаем ремонт, но и поможем выбрать лучшие материалы по сходной цене. <strong> Широкая база поставщиков </strong> позволяет нам предоставлять скидки на нужные материалы.</p>
                    </div>
                </div>
                <div>
                    <div class="advantages-item">
                        <span>06</span>
                        <div class="icon"><i class="icon-icon-6"></i></div>
                        <h3>Собственный транспорт для малых доставок</h3>
                        <p>Используя собственный транспорт, <strong> мы можем бесплатно доставить </strong> небольшие партии материала прямо на место строительства</p>
                    </div>
                </div>
                <div>
                    <div class="advantages-item">
                        <span>07</span>
                        <div class="icon"><i class="icon-icon-7"></i></div>
                        <h3>Фото отчет с объекта по запросу заказчика</h3>
                        <p>При необходимости <strong> сделаем полный фотоотчет о проделанной работе и вышлем его вам. </strong> Так, что больше не нужно беспокоиться о том, как проверить качество, выполненный работ если у вас на это нет времени.</p>
                    </div>
                </div>
            </div>
            <span class="list">листайте  ></span>
        </div>
    </section>

    <section class="our-work">
        <div class="container">
            <div class="title">
                <h2>Наши работы</h2>
            </div>
            <span class="list">листайте  ></span>
            <div class="our-work-slider">
                <div>
                    <ul class="slider-nav clearfix">
                        <li data-our="our-work1" class="active">До ремонта</li>
                        <li data-our="our-work2">После ремонта</li>
                    </ul>
                    <div class="our-work-items clearfix">
                        <div class="our-work-item our-work1 active">
                            <h4>До ремонта</h4>
                            <div class="our-work-img">
                                <div class="img-for">
                                    <div class="img-for-hover">
                                        <p>увеличить фото</p>
                                    </div>
                                    <img src="../img/img-for-img.png" alt="">
                                </div>
                                <div class="img-nav clearfix">
                                    <div data-img="../img/img-for-img.png" class="nav-item active">
                                        <img src="../img/img-nav-img1.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img11.jpg" class="nav-item">
                                        <img src="../img/img-nav-img2.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img22.jpg" class="nav-item">
                                        <img src="../img/img-nav-img3.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img33.jpg" class="nav-item">
                                        <img src="../img/img-nav-img4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <h3>Задача</h3>
                            <ul>
                                <li><strong>Разработка дизайн-проекта и капитальный ремонт трёхкомнтаной квартиры</strong></li>
                                <li><strong>Адрес: </strong>ул. Московская, 2</li>
                                <li><span>Особенности проекта: </span> Замена конструктивных элементов помещения</li>
                                <li><strong>Срок исполнения: </strong>80 дней</li>
                            </ul>
                        </div>
                        <div class="our-work-item our-work2">
                            <h4>После ремонта</h4>
                            <div class="our-work-img">
                                <div class="img-for">
                                    <div class="img-for-hover">
                                        <p>увеличить фото</p>
                                    </div>
                                    <img src="../img/img-for-img2.png" alt="">
                                </div>
                                <div class="img-nav clearfix">
                                    <div data-img="../img/img-for-img2.png" class="nav-item active">
                                        <img src="../img/img-nav-img5.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img111.png" class="nav-item">
                                        <img src="../img/img-nav-img6.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img222.jpg" class="nav-item">
                                        <img src="../img/img-nav-img7.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img333.jpg" class="nav-item">
                                        <img src="../img/img-nav-img8.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <h3>Благодарность клиента</h3>
                            <article>
                                <p>Обратился в организацию летом. Решил сделать капитальный ремонт квартиры. После предварительного звонка ко мне приезжал замерщик. Выбрал подрядчиков по критериям “цена качество”. Слишком дешёвого не хотелось, дабы имелась
                                    неудачная практика работы с частными мастерами. Остановил свой выбор на этой организации.</p>
                                <p>Обратился в организацию летом. Решил сделать капитальный ремонт квартиры. После предварительного звонка ко мне приезжал замерщик. Выбрал подрядчиков по критериям “цена качество”. Слишком дешёвого не хотелось, дабы имелась
                                    неудачная практика работы с частными мастерами. Остановил свой выбор на этой организации.</p>
                            </article>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="slider-nav clearfix">
                        <li data-our="our-work3" class="active">До ремонта</li>
                        <li data-our="our-work4">После ремонта</li>
                    </ul>
                    <div class="our-work-items clearfix">
                        <div class="our-work-item our-work3 active">
                            <h4>До ремонта</h4>
                            <div class="our-work-img">
                                <div class="img-for">
                                    <div class="img-for-hover">
                                        <p>увеличить фото</p>
                                    </div>
                                    <img src="../img/img-for-img.png" alt="">
                                </div>
                                <div class="img-nav clearfix">
                                    <div data-img="../img/img-for-img.png" class="nav-item active">
                                        <img src="../img/img-nav-img1.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img11.jpg" class="nav-item">
                                        <img src="../img/img-nav-img2.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img22.jpg" class="nav-item">
                                        <img src="../img/img-nav-img3.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img33.jpg" class="nav-item">
                                        <img src="../img/img-nav-img4.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <h3>Задача</h3>
                            <ul>
                                <li><strong>Разработка дизайн-проекта и капитальный ремонт трёхкомнтаной квартиры</strong></li>
                                <li><strong>Адрес: </strong>ул. Московская, 2</li>
                                <li><span>Особенности проекта: </span> Замена конструктивных элементов помещения</li>
                                <li><strong>Срок исполнения: </strong>80 дней</li>
                            </ul>
                        </div>
                        <div class="our-work-item our-work4">
                            <h4>После ремонта</h4>
                            <div class="our-work-img">
                                <div class="img-for">
                                    <div class="img-for-hover">
                                        <p>увеличить фото</p>
                                    </div>
                                    <img src="../img/img-for-img2.png" alt="">
                                </div>
                                <div class="img-nav clearfix">
                                    <div data-img="../img/img-for-img2.png" class="nav-item active">
                                        <img src="../img/img-nav-img5.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img111.png" class="nav-item">
                                        <img src="../img/img-nav-img6.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img222.jpg" class="nav-item">
                                        <img src="../img/img-nav-img7.png" alt="">
                                    </div>
                                    <div data-img="../img/img-for-img333.jpg" class="nav-item">
                                        <img src="../img/img-nav-img8.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <h3>Благодарность клиента</h3>
                            <article>
                                <p>Обратился в организацию летом. Решил сделать капитальный ремонт квартиры. После предварительного звонка ко мне приезжал замерщик. Выбрал подрядчиков по критериям “цена качество”. Слишком дешёвого не хотелось, дабы имелась
                                    неудачная практика работы с частными мастерами. Остановил свой выбор на этой организации.</p>
                                <p>Обратился в организацию летом. Решил сделать капитальный ремонт квартиры. После предварительного звонка ко мне приезжал замерщик. Выбрал подрядчиков по критериям “цена качество”. Слишком дешёвого не хотелось, дабы имелась
                                    неудачная практика работы с частными мастерами. Остановил свой выбор на этой организации.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <a class="order repair-click" href="javascript:void(0)">заказать такой же ремонт</a>
        </div>
    </section>

    <section class="scheme-work">
        <div class="container">
            <div class="title">
                <h2>Схема работы</h2>
            </div>
            <div class="scheme-items clearfix">
                <div class="scheme-item">
                    <div class="icon">
                        <span>01</span>
                        <i class="icon-work-outline-icon1"></i>
                    </div>
                    <p>Замеры, консультация прораба</p>
                </div>
                <div class="scheme-item">
                    <div class="icon">
                        <span>02</span>
                        <i class="icon-work-outline-icon-2"></i>
                    </div>
                    <p>Составление сметы</p>
                </div>
                <div class="scheme-item">
                    <div class="icon">
                        <span>03</span>
                        <i class="icon-work-outline-icon-3"></i>
                    </div>
                    <p>Заключение договора</p>
                </div>
                <div class="scheme-item">
                    <div class="icon">
                        <span>04</span>
                        <i class="icon-work-outline-icon-4"></i>
                    </div>
                    <p>Закупка материала</p>
                </div>
                <div class="scheme-item">
                    <div class="icon">
                        <span>05</span>
                        <i class="icon-work-outline-icon-5"></i>
                    </div>
                    <p>Выполнение работ</p>
                </div>
                <div class="scheme-item">
                    <div class="icon">
                        <span>06</span>
                        <i class="icon-work-outline-icon-6"></i>
                    </div>
                    <p>Сдача объекта, оформление необходимых документов</p>
                </div>
            </div>
        </div>
    </section>

    <section class="departure">
        <div class="container">
            <div class="title">
                <h2><span>Оставьте заявку и получите </span>бесплатный выезд замерщика</h2>
            </div>
            <div class="departure-content">
                <form class="clearfix">
                    <div class="inputs clearfix">
                        <div class="input">
                            <label>Ваше имя</label>
                            <input type="text" placeholder="Константин">
                        </div>
                        <div class="input">
                            <label>Ваш телефон</label>
                            <input class="phone" type="text" pattern="+7 900 --- -- --">
                            <div class="checkbox">
                                <input type="checkbox">
                                <p>Принимаю условия <a target="_blank" href="javascript:viod(0)">обработки данных</a></p>
                            </div>
                        </div>
                    </div>
                    <button><span>отправить</span></button>
                </form>
                <div class="text">
                    <p><strong>Звоните сейчас и получите профессиональные ответы на свои вопросы!</strong></p>
                    <p>Закажите выезд замерщика. Наш специалист рассчитает стоимость и сроки выполнения необходимых работ.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contacts">
        <div class="container">
            <div class="title">
                <h2>Контакты</h2>
            </div>
            <div class="contacts-content">
                <ul>
                    <li>
                        <p><i class="icon-location"></i> г. Иваново ул. Иваново, дом 15, офис 219</p>
                    </li>
                    <li>
                        <p><i class="icon-time"></i> Время работы: Пн-пт с 9:00 до 18:00 без перерывов</p>
                    </li>
                    <li>
                        <div class="tel">
                            <i class="icon-phone"></i>
                            <a href="tel:+7(4932) 25-67-89">+7(4932) 25-67-89</a>
                            <a href="tel:+7(4932) 25-67-89">+7(4932) 25-67-89</a>
                        </div>
                        <div class="email">
                            <i class="icon-mail"></i>
                            <a href="mailto:ivanovaremont@mail.ru">ivanovaremont@mail.ru</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="maps">
                <div class="map" style="background: url('../img/maps.png') no-repeat 50% 50%; background-size: cover;"></div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container clearfix">
            <div class="footer-left">
                <h5>Ремонт квартир №1 в Иваново</h5>
                <p>ООО «Иваново», ИНН 0000000000, ОГРН 0000000000000</p>
            </div>
            <div class="footer-right">
                <div class="clearfix">
                    <h4>Мы в социальных сетях</h4>
                    <ul>
                        <li><a href="javascript:void(0)"><i class="icon-inst"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-fc"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-wk"></i></a></li>
                    </ul>
                </div>
                <a class="stud" href="javascropt:void(0)">Разработано студией “Племя”</a>
            </div>
        </div>

    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/readmore.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jquery.mask.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jcf.number.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/script.min.js"></script>
</body>

</html>