
.icon-ок:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-work-outline-icon-6:before { content: '\e802'; } /* '' */
.icon-enlarge-photo:before { content: '\e803'; } /* '' */
.icon-icon-tel:before { content: '\e804'; } /* '' */
.icon-skroll:before { content: '\e806'; } /* '' */
.icon-work-outline-icon-2:before { content: '\e807'; } /* '' */
.icon-work-outline-icon-3:before { content: '\e808'; } /* '' */
.icon-work-outline-icon-4:before { content: '\e809'; } /* '' */
.icon-work-outline-icon-5:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-work-outline-icon1:before { content: '\e80c'; } /* '' */
.icon-fc:before { content: '\e80d'; } /* '' */
.icon-inst:before { content: '\e80e'; } /* '' */
.icon-wk:before { content: '\e80f'; } /* '' */
.icon-icon-1:before { content: '\e810'; } /* '' */
.icon-icon-2:before { content: '\e811'; } /* '' */
.icon-icon-3:before { content: '\e812'; } /* '' */
.icon-icon-4:before { content: '\e813'; } /* '' */
.icon-icon-5:before { content: '\e814'; } /* '' */
.icon-icon-6:before { content: '\e815'; } /* '' */
.icon-icon-7:before { content: '\e816'; } /* '' */
.icon-mail:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-phone:before { content: '\e819'; } /* '' */
.icon-time:before { content: '\e81a'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */